@model MSGCompaniesMonitor.ViewModels.CompanyEditViewModel
@{
    ViewData["Title"] = "Edit Company";
}
<!-- Your view content here -->
@if (TempData["ShowToast"] != null && (bool)TempData["ShowToast"])
{
    @foreach (var error in (List<string>)TempData["ToastMessage"])
    {
        <script>
            toastr.options = {
                "positionClass": "toast-top-left",
                "timeOut": "3000", // Toast will disappear after 3 seconds
            }

            toastr.error("@error");

        </script>
    }
}

<!-- Rest of your view content -->

<form asp-controller="Company" asp-action="Edit" method="post">
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-12">
                    <div style="text-align: center;">
                        <h4 class="card-title">Company</h4>
                    </div>
                    <div class="card-body">
                        <div class="row g-5">
                           
                            <div class="col-12">
                                <fieldset class="form-fieldset">
                                    <div class="row row-cards">

                                        <div class="mb-3 col-4">
                                            <label class="form-label required" asp-for="company.EnglishName">English Name</label>
                                            <input class="form-control" asp-for="company.EnglishName">
                                        </div>

                                        <div class="mb-3 col-4">
                                            <label class="form-label required" asp-for="company.ArabicName">Arabic Name</label>
                                            <input class="form-control" asp-for="company.ArabicName">
                                        </div>

                                        <div class="mb-3 col-4">
                                            <label class="form-label required" asp-for="@Model.CompaniesType">Company Type</label>
                                            <select class="form-select" asp-for="@Model.CompaniesType" asp-items="@Model.CompaniesType">
                                            </select>
                                        </div>


                                        <div class="mb-3 col-6">
                                            <label class="form-label" asp-for="company.Number">Number</label>
                                            <input class="form-control" asp-for="company.Number">
                                        </div>


                                        <div class="mb-3 col-6">
                                            <label class="form-label" asp-for="company.CapitalJD">CapitalJD</label>
                                            <input class="form-control" asp-for="company.CapitalJD">
                                        </div

                                        <div class="mb-4">
                                            <label class="form-label required" asp-for="@Model.Partners">Partners</label>
                                            <select asp-for="@Model.Partners" asp-items="@Model.Partners" class="form-select">
                                            </select>
                                        </div>


                                        <div class="mb-3 col-6">
                                            <label class="form-label" asp-for="company.CreatedDate">CreatedDate</label>
                                            <input class="form-control" asp-for="company.CreatedDate">
                                        </div>

                                        <div class="mb-3 col-6">
                                            <label class="form-label" asp-for="company.CloseDate">CloseDate</label>
                                            <input class="form-control" asp-for="company.CloseDate">
                                        </div>



  


                                        <div class="mb-3 col-6">
                                            <label class="form-label" asp-for="company.EnglishNotes">English Notes</label>
                                            <textarea class="form-control" asp-for="company.EnglishNotes" rows="4"></textarea>
                                        </div>

                                        <div class="mb-3 col-6">
                                            <label class="form-label" asp-for="company.ArabicNotes">ArabicNotes</label>
                                            <textarea class="form-control" asp-for="company.ArabicNotes" rows="4"></textarea>
                                        </div>


                                    </div>


                                    <div class="card-footer text-end mt-4">
                                        <div class="d-flex">
                                            <a asp-controller="Company" asp-action="Index" class="btn btn-link">Cancel</a>
                                            <button type="submit" class="btn btn-primary ms-auto">Edit</button>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>