@model Pagination<Partner>

@{
    ViewData["Title"] = "Partners";
    var showToast = TempData["ShowToast"] as bool?;
}
@if (showToast.HasValue && showToast.Value)
{

    <script>
        toastr.options = {
            "positionClass": "toast-top-left",
            "timeOut": "3000", // Toast will disappear after 3 seconds
        }

        toastr.success("@TempData["ToastMessage"]");

    </script>
}
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header ">

                            <div class="col-6">
                                <h3 class="card-title ">Partners</h3>
                            </div>
                            <div class="col-6 text-end">
                                <a asp-controller="Partner" asp-action="Create" class="btn btn-primary d-none d-sm-inline-block">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                                    Add new Partner
                                </a>
                            </div>

                        </div>
                        <div class="card-body border-bottom py-3">
                            <div class="d-flex">
                                <div class="text-secondary">
                                    Show
                                    <div class="mx-2 d-inline-block ">
                                        <input type="text" class="form-control form-control-sm" value="@Model.Data.Count" size="3" aria-label="Invoices count" disabled>
                                    </div>
                                    entries
                                </div>


                                    <div class="ms-auto text-secondary">
                                        
                                            <div class="ms-2 d-inline-block" >
                                                    <form asp-controller="Partner" asp-action="Index" method="get" style="display: inline-flex;">
                                                        <input type="text" class="form-control form-control-sm" style="margin-right:5px" placeholder="Search By Name" aria-label="Search" name="search"  value="@ViewBag.searchvalue">
                                                        <input type="submit" class="btn btn-primary " value="search">
                                                    </form>
                                            </div>
                                        
                                    </div>

                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table card-table table-vcenter text-nowrap datatable">
                                <thead>
                                    <tr>
                                        <th class="w-1">ID</th>

                                        <th>English Name</th>

                                        <th>Arabic Name</th>


                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var obj in Model.Data)
                                    {
                                        <tr>

                                            <td><span class="text-secondary align-middle">@obj.PartnerId</span></td>
                                            <td style="width:40%">@obj.EnglishName</td>
                                            <td style="width:40%">@obj.ArabicName</td>


                                            <td>
                                                <span class="dropdown">
                                                    <button class="btn dropdown-toggle align-text-top" data-bs-boundary="viewport" data-bs-toggle="dropdown">Actions</button>
                                                    <div class="dropdown-menu ">
                                                        <a class="dropdown-item" asp-controller="Partner" asp-action="Edit" asp-route-id="@obj.PartnerId">
                                                            Edit
                                                        </a>
                                                        <a class="dropdown-item" asp-controller="Partner" asp-action="Delete" asp-route-id="@obj.PartnerId">
                                                            Delete
                                                        </a>
                                                    </div>
                                                </span>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer d-flex align-items-center">
                            <p class="m-0 text-secondary">Showing <span>1</span> to <span>@Model.Data.Count</span> of <span>@Model.TotalRecords</span> entries</p>
                            <ul class="pagination m-0 ms-auto">

                                @if (Model.CurrentPage > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)" asp-route-search="@ViewBag.searchvalue">
                                            <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M15 6l-6 6l6 6" /></svg>
                                            prev
                                        </a>
                                    </li>
                                }


                                <li class="page-item">
                                    <a class="page-link" > 
                                    Page @(Model.CurrentPage) of @Model.TotalPages
                                     </a>
                                </li>


                                @if (Model.CurrentPage < Model.TotalPages)
                                {
                                    <li class="page-item">
                                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)" asp-route-search="@ViewBag.searchvalue">
                                        next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M9 6l6 6l-6 6" /></svg>
                                    </a>
                                    </li>

                                }

                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
